<html>
<body>

<div>
        <h1 id="portTitle">
                Home
           </h1>

           <div className="badgeEdge"></div>

            <div>
                   <form action="/" method="post"> 
                        <div>
                            <input type="text" id="txtName" name="fname" placeholder="Enter your name" />
                        </div>
                        <div>
                            <input type="file" id="myFile" name="filename">
                        </div>
                        <div>
                            <select id="selCountry">
                                <option value="">-- Choose the country --</option>
                                <option value="India">India</option>
                                <option value="Japan">Japan</option>
                                <option value="USA">USA</option>
                            </select>
                        </div>
                        <div>
                            <textarea id="msg" name="msg" placeholder="Intro Copy"></textarea>
                        </div>

                        <div>
                            <input type="submit" id="bt" value="Save data to file" />
                        </div>
                    </form>
            </div>

    </div>

</body>
</html>