<html>
<body>

<div>
        <h1 id="portTitle">
                Home
           </h1>

           <div className="badgeEdge"></div>

            <div>
                   <form action="/" method="post" enctype='multipart/form-data'>
                        <div>
                            <select id="selAgency" name="agency">
                                <option value="">-- Choose your agency --</option>
                                <option value="India">Guru Travel</option>
                                <option value="Japan">Starship Travel</option>
                                <option value="USA">Extreme Destinations Travel</option>
                            </select>
                        </div>
                        <div>
                            <input type="text" id="copyTitle" name="contentTitle" placeholder="Intro Copy Title" />
                        </div>
                        <div>
                            <textarea id="msg" name="msg" placeholder="Intro Copy"></textarea>
                        </div>
                        <div>
                            <input type="text" id="copyTitle" name="landinglink" placeholder="Link to Landing Page" />
                        </div>
                        <div>
                            <input type="file" id="myFile" name="thefilename">
                        </div>
                        <div>
                            <img id="output" width="200" />
                        </div>
                        <div>
                            <input type="submit" id="bt" value="Save data to file" />
                        </div>
                    </form>
            </div>

    </div>

</body>
</html>