<html>
    <head>
    <link href="/server/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet/less" type="text/css" href="/server/style.less" />
    <script src="https://cdn.jsdelivr.net/npm/less" ></script> -->
</head>
<body class="bodyContainer">

<div class="pageContainer">
        <h1 class="consumerTitle">
                Consumer E-Newsletter Form
           </h1>

           <div class="badgeEdge"></div>

            <div class="formContainer">
                   <form class="fullForm" action="/" method="post" enctype='multipart/form-data'>
                    <div>
                        <p class="instructions fullWidth" type="text"><span class="instructionsTitle">Instructions to fill out the form:</span><br><br>
                        If you plan on including custom content, please fill out the full form, otherwise input only the "Choose your agency" field.
                        </p>
                    </div>
                        <div>
                            <select class="agencySelect fullWidth" id="selAgency" name="agency">
                                <option value="">-- Choose your agency --</option>
                                <option value="amandasTravels">Amanda's Travels</option>
                                <option value="aysToursTravel">AYS Tours & Travel</option>
                                <option value="blueHorizon">Blue Horizon</option>
                                <option value="caryTravelExpress">Cary Travel Express</option>
                                <option value="chocolateCityTravel">Chocolate City Travel</option>
                                <option value="compassTravel">Compass Travel</option>
                                <option value="crystalLakeTravel">Crystal Lake Travel</option>
                                <option value="davidsHouseOfTravel">David's House of Travel</option>
                                <option value="destinationsTravelServices">Destinations Travel Services</option>
                                <option value="dsBelmontTravel">DSBelmont Travel Consultants</option>
                                <option value="expertJourneysTravel">Expert Journeys Travel</option>
                                <option value="extremeDestinations">Extreme Destinations Travel</option>
                                <option value="firstChoiceTravelCruise">First Choice Travel & Cruise</option>
                                <option value="freeSpiritTravel">Free Spirit Travel</option>
                                <option value="germantownTravel">Germantown Travel</option>
                                <option value="hinsdaleTravel">Hinsdale Travel</option>
                                <option value="holidayTravelVacations">Holiday Travel Vacations</option>
                                <option value="huntleyTravel">Huntley Travel</option>
                                <option value="insiderTravelPlanners">Insider Travel Planners</option>
                                <option value="islandBridal">Island Bridal</option>
                                <option value="jjDestinations">J & J Destinations</option>
                                <option value="janusTravel">Janus Travel</option>
                                <option value="jenniferWalkerTravel">Jennifer Walker Travel</option>
                                <option value="jetwayWorldTravel">Jetway World Travel</option>
                                <option value="lighthouseTravel">Lighthouse Travel</option>
                                <option value="mooreTravel">Moore Travel</option>
                                <option value="okTravelAgency">OK Travel Agency Inc.</option>
                                <option value="sandcastleWishes">Sandcastle Wishes Travel</option>
                                <option value="seeYourWorld">See Your World Adventures</option>
                                <option value="shamaTravel">Shama Travel</option>
                                <option value="starshipTravel">Starship Travel</option>
                                <option value="sunsetFamilyTravel">Sunset Family Travel</option>
                                <option value="townCountryTravel">Town & Country Travel</option>
                                <option value="travelHouseQuincy">Travel House of Quincy</option>
                                <option value="travelOnADream">Travel On a Dream</option>
                                <option value="travelPriorities">Travel Priorities Inc.</option>
                                <option value="travelTwoThousand">Travel Two Thousand</option>
                                <option value="viaTravelService">Via Travel Service</option>
                                <option value="wilsonTravel">Wilson Travel</option>
                                <option value="wonderlandFamily">Wonderland Family Vacations</option>
                                <option value="worldClassTravel">World Class Travel</option>
                                <option value="worldwideTravelerLtd">Worldwide Traveler Ltd.</option>


                            </select>
                        </div>
                        <div>
                            <input class="titleCopy fullWidth" type="text" id="copyTitle" name="contentTitle" placeholder="Intro Copy Title" />
                        </div>
                        <div>
                            <textarea class="bodyCopy fullWidth" id="msg" name="msg" placeholder="Intro Copy"></textarea>
                        </div>
                        <div>
                            <input class="linkLanding fullWidth" type="text" id="copyTitle" name="landinglink" placeholder="Link to Landing Page" />
                        </div>
                        <div>
                            <input class="fileUpload fullWidth" type="file" id="myFile" name="thefilename">
                        </div>
                        <div>
                            <img id="output" width="200" />
                        </div>
                        <div>
                            <input class="submitButton fullWidth" type="submit" id="bt" value="Save data to file" />
                        </div>
                    </form>
            </div>

    </div>

</body>
</html>